<span style="font-family: Century Gothic,sans-serif;">
<p style="font-family: Century Gothic,sans-serif;">Good Morning...</p>
<p style="font-family: Century Gothic,sans-serif;"><span style="text-decoration: underline; color: rgba( 110, 166, 204, 0.9); font-family: Century Gothic,sans-serif;"><strong>Context:</strong></span>
<ul style="font-family: Century Gothic,sans-serif;">
<li>Write stuff here</li>
</ul></p>
<p style="font-family: Century Gothic,sans-serif;"><span style="text-decoration: underline; color: rgba( 110, 166, 204, 0.9); font-family: Century Gothic,sans-serif;"><strong>MHJC Learning Framework Step:</strong></span>
<ul style="font-family: Century Gothic,sans-serif;">
<li>Write stuff here</li>
</ul></p>
<p style="font-family: Century Gothic,sans-serif;"><span style="text-decoration: underline; color: rgba( 110, 166, 204, 0.9);font-family: Century Gothic,sans-serif;"><strong>Activities:</strong></span>
<ol style="font-family: Century Gothic,sans-serif;">
<li>These should be closely linked to the Learning Intentions below</li>
<li>Write here</li>
</ol></p>
<p style="font-family: Century Gothic,sans-serif;"><span style="text-decoration: underline; color: rgba( 110, 166, 204, 0.9);"><strong>Learning Intentions: </strong></span><em>We are learning to (WALT)...</em>
<ul style="font-family: Century Gothic,sans-serif;">
<li>The learning intention should not be a task.</li>
<li>They should describe clearly what the student needs to know, do or understand as a result of the learning activities above.</li>
<li>Should be written in language students understand.</li>
<li>eg. write to persuade others.</li>
</ul>
</p>
<p style="font-family: Century Gothic,sans-serif;"><span style="text-decoration: underline; color: rgba( 110, 166, 204, 0.9);"><strong>Success Criteria: </strong></span><em>I can/have...</em>
<ul style="font-family: Century Gothic,sans-serif;">
<li>Students co-construct what they need to do to successfully achieve the Learning Intention</li>
<li>eg. use emotive language in my writing</li>
</ul>
</p>
<p style="font-family: Century Gothic,sans-serif;"><span style="text-decoration: underline; color: rgba( 110, 166, 204, 0.9);"><strong>Resources:</strong></span><br />Write here...</p>
<p style="font-family: Century Gothic,sans-serif;"><span style="text-decoration: underline; color: #ff0000;"><strong>Homework:</strong></span><br />Write here... (please clearly identify the due date of the homework)</p>
</span>