<b>Introduction</b><br />

&#8226; Congratulations Beth, you have developed a high quality science fair investigation entitled 'Bubbles' to test the effect of .... on .....<br />
&#8226; Congratulations Beth, you have developed a science fair investigation entitled 'Bubbles' to test the effect of .... on .....<br />
&#8226; Beth, with support you have conducted a science investigation entitled 'Bubbles' to test the effect of .... on .....<br />
&#8226; Beth, you have yet to complete your science investigation entitled 'Bubbles', which aimed to test the effect of .... on .....<br />


<b>Hypothesis</b><br />

&#8226; You displayed a sound understanding of the main science ideas in your experiment when formulating your hypothesis.<br />
&#8226; Your hypothesis is clear and uses some scientific ideas to predict the outcome of your testing.<br />
&#8226; Your hypothesis is clear and you have predicted the outcome of your testing. Next time try to using scientific terms in your hypothesis to demonstrate your understanding of the science ideas in your experiment.<br />
&#8226; You need to develop a hypothesis by writing a prediction of the outcome of your testing. Please also try to use scientific terms in your hypothesis to show your understanding of the science ideas in your experiment.<br />


<b>Conclusion</b><br />

&#8226; Your detailed conclusion proved/disproved your hypothesis and was supported by data and/or scientific ideas.<br />
&#8226; Your conclusion proved/disproved your hypothesis and was supported by data and/or scientific ideas.<br />
&#8226; Your conclusion proved/disproved your hypothesis however needed to be supported by data and/or scientific ideas.<br />
&#8226; You need to write a conclusion that links back to your hypothesis.<br />


<b>Equipment/Method</b><br />

&#8226; The equipment you used in your investigation was clearly listed and you have ensured that the reader could replicate your fair test by providing a detailed, sequential methodology. Thank you for using precise units of measure throughout this section of your investigation. Please remember to detail the number of times to repeat the experiment in your 'method' (it should be at least three times) to provide reliable data.<br />
&#8226; The equipment you used in your investigation was listed and you have crafted a detailed and sequential methodology. Please ensure you use precise units of measurement to ensure your fair test could be easily replicated and remember to detail the number of times to repeat the experiment (it should be at least three times) to provide reliable data.<br />
&#8226; The equipment you used in your investigation was listed and you have crafted a sequential methodology. Please ensure each step of your procedure is detailed and that you use precise units of measurement to ensure your fair test could be easily replicated. You also need to state the number of times to repeat the experiment (it should be at least three times) to provide reliable data.<br />
&#8226; The equipment you used in your investigation was listed and you have crafted a methodology. Please ensure each step of your procedure is detailed, in the correct order and uses precise units of measurement.<br />


<b>Fair Test</b><br />

&#8226; With a high level of independence, you have identified the variables to be changed (independent variables) and which were to be measured (dependent variables).<br />
&#8226; The variables to be changed (independent variables) and which were to be measured (dependent variables) have been identified.<br />
&#8226; With support, you have been able to identify the variables to be changed (independent variables) and those to be measured (dependent variables).<br />
&#8226; The variables to be changed (independent variables) and those to be measured (dependent variables) need to be identified.<br />


<b>Graphs</b><br />

&#8226; Your data has been recorded in several ways (tables, graphs, logs and/or photos) and have appropriate titles and axes labels. Your data has been plotted clearly and summarised using averages.<br />
&#8226; Although your data has been recorded in several ways (tables, graphs, logs and/or photos) appropriate titles and axes labels are needed. Your data has been plotted clearly and you have attempted to summarise it using averages.<br />
&#8226; Your data needs to be recorded in several ways (tables, graphs, logs and/or photos), have appropriate titles and axes labels and be summarised using averages.<br />
&#8226; Your tables/graphs are incomplete. Data needed to be recorded in several ways (tables, graphs, logs and/or photos), with appropriate titles and axes labels and be summarised using averages.<br />


<b>Evaluation</b><br />

&#8226; You have answered the testable question using evidence from the results and reached relevant conclusions that relate to scientific ideas. The reliability, validity and science content of your experiment have been discussed.<br />
&#8226; You have answered the testable question using evidence from the results and reached some relevant conclusions that relate to scientific ideas. The reliability, validity and science content of your experiment need to be discussed in greater detail.<br />
&#8226; You have attempted to answer the testable question using evidence from the results and have reached some relevant conclusions. You now need to link these to relevant science ideas and discuss the reliability, validity and science content of your experiment.<br />
&#8226; You have attempted to answer the testable question and have reached some simple conclusions. You now need to link these to relevant science ideas and discuss the reliability, validity and science content of your experiment.<br />


<b>Aesthetics/Construction</b><br />

&#8226; Thank you for constructing a sequential, attractive and effective display board. You have made a significant effort and I am particularly pleased to see you have maintained a log book.<br />
&#8226; Thank you for constructing a sequential, attractive and effective display board. Perhaps next time you could maintain a log book of your actions.<br />
&#8226; Thank you for constructing a sequential science fair display. Perhaps next time you could consider the aesthetics of your display board and maintain a log book of your actions.<br />
&#8226; Thank you for attempting to construct a sequential science fair display. Perhaps next time you could consider the aesthetics of your display board and maintain a log book of your actions.<br />
