<span style="font-family: Century Gothic, sans-serif;">
<p>Name is able to read and understand texts with;
<ul><li>topics which are complex and may be technical</li>
<li>many different settings or voices</li>
<li>more than one text type</li>
<li>a variety of sentence structures</li>
<li>sentences containing several concepts</li>
<li>uncommon and technical words</li>
<li>similes, metaphors and language used in New Zealand, without explanation</li>
<li>paragraphs which may use no subheadings</li>
<li>no illustrations or some illustrations that require high level thinking</li>
</ul>
His/Her next steps are to</p>
</span>