<span style="font-family: Century Gothic,sans-serif;">
<p>Kia ora...</p>
<table border="1" cellpadding="2" cellspacing="0">
<colgroup><col></col><col></col><col></col><col></col><col></col></colgroup> 
<tbody>
<tr>
<td style="border: 1px solid #000000;"><p align="LEFT"><b>Learning Intention:</b></p></td>
<td colspan="4" style="border: 1px solid #000000;"><p>We are learning to...</p></td>
</tr>
<tr>
<td style="border: 1px solid #000000;"><p><b>Success Criteria:</b></p></td>
<td style="border: 1px solid #000000;">&nbsp;</td>
<td style="border: 1px solid #000000;">&nbsp;</td>
<td style="border: 1px solid #000000;">&nbsp;</td>
<td style="border: 1px solid #000000;">&nbsp;</td>
</tr>
</tbody>
</table>
<p><span style="text-decoration: underline; color: #00ff33;"><strong>Activities:</strong></span>
<ol>
<li>Write here</li>
<li>Write here</li>
</ol>
</p>
<p><span style="text-decoration: underline; color: #00ff33;"><strong>Further Learning:</strong></span><br />Write here...</p>
</span>