<P><FONT COLOR="#800080" FACE="Century Gothic, sans-serif" SIZE=3><U><B>日本語：</B></U></FONT></P><BR />
<P STYLE="margin-bottom: 0cm"><FONT COLOR="#ff0000"><FONT FACE="Century Gothic, sans-serif"><FONT SIZE=3><SPAN LANG="zh-CN">今週の勉強　
☆　こんしゅう　の　べんきょう　☆　</SPAN></FONT></FONT><FONT FACE="Century Gothic, sans-serif"><FONT SIZE=3>konshuu
no benkyou</FONT></FONT><FONT FACE="Century Gothic, sans-serif"><FONT SIZE=3><SPAN LANG="zh-CN">：</SPAN></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm"><FONT COLOR="#0000ff"><FONT FACE="Century Gothic, sans-serif"><FONT SIZE=3><SPAN LANG="zh-CN">教育目的　☆　きょういくもくてき　☆　</SPAN></FONT></FONT><FONT FACE="Century Gothic, sans-serif"><FONT SIZE=3>kyouikumokuteki</FONT></FONT><FONT FACE="Century Gothic, sans-serif"><FONT SIZE=3><SPAN LANG="zh-CN">：</SPAN></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm"><FONT COLOR="#0000ff"><FONT FACE="Century Gothic, sans-serif"><FONT SIZE=3><SPAN LANG="zh-CN">成功基準　　☆　せいこうきじゅん　☆　</SPAN></FONT></FONT><FONT FACE="Century Gothic, sans-serif"><FONT SIZE=3>saikoukijun</FONT></FONT><FONT FACE="Century Gothic, sans-serif"><FONT SIZE=3><SPAN LANG="zh-CN">：</SPAN></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm"><FONT COLOR="#0000ff"><FONT FACE="Century Gothic, sans-serif"><FONT SIZE=3><SPAN LANG="zh-CN">活動　☆　かつどう　☆　</SPAN></FONT></FONT><FONT FACE="Century Gothic, sans-serif"><FONT SIZE=3>katsudou</FONT></FONT><FONT FACE="Century Gothic, sans-serif"><FONT SIZE=3><SPAN LANG="zh-CN">：</SPAN></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm"><FONT COLOR="#008000"><FONT FACE="Century Gothic, sans-serif"><FONT SIZE=3><SPAN LANG="zh-CN">その他
（宿題、復習など）☆　その　ほか　（しゅくだい、ふくしゅう　など）☆　</SPAN></FONT></FONT><FONT FACE="Century Gothic, sans-serif"><FONT SIZE=3>sono
hoka (shukudai, fukushuu nado)</FONT></FONT><FONT FACE="Century Gothic, sans-serif"><FONT SIZE=3><SPAN LANG="zh-CN">：</SPAN></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>