<span style="font-family: Century Gothic,sans-serif;">
<p>Kia ora...</p>
<p><span style="text-decoration: underline; color: #990000;"><strong>Big Idea: </strong></span>Big idea goes here</p>
<p><span style="text-decoration: underline; color: #990000;"><strong>Learning Intentions:</strong></span><em> We are learning to (WALT)...</em>
<ul>
<li>Write here</li>
</ul>
</p>
<p><span style="text-decoration: underline; color: #990000;"><strong>Achievement Objectives:</strong></span> Enter AO's here</p>
<p><span style="text-decoration: underline; color: #990000;"><strong>Success Criteria:</strong></span><em> I can/have...</em>
<ul>
<li>Write here</li>
</ul>
</p>
<p><span style="text-decoration: underline; color: #990000;"><strong>Activities:</strong></span>
<ol>
<li>Write here</li>
<li>Write here</li>
</ol>
</p>
<p><span style="text-decoration: underline; color: #990000;"><strong>Homework:</strong></span><br />Write here...</p>
</span>