<span style="font-family: Century Gothic,sans-serif;">
<p>Kia ora...</p>
<p><span style="text-decoration: underline; color: #00ccff;"><strong>Learning Intentions:</strong></span><em> We are learning to (WALT)...</em>
<ul>
<li>Write here</li>
</ul>
</p>
<p><span style="text-decoration: underline; color: #00ccff;"><strong>Success Criteria:</strong></span><em> I can/have...</em>
<ul>
<li>Write here</li>
</ul>
</p>
<p><span style="text-decoration: underline; color: #00ccff;"><strong>Activities:</strong></span>
<ol>
<li>Write here</li>
<li>Write here</li>
</ol>
</p>
<p><span style="text-decoration: underline; color: #ff0000;"><strong>Follow Up Tasks:</strong></span><br />Write here...</p>
</span>